$main-color: #2a4c6e;
$bianco: rgb(255, 255, 255);
$nero: rgb(0, 0, 0);
$grigio-chiudi: rgb(104, 104, 104);
$like:rgb(198, 88, 84);
$rosso-errore: rgb(237, 97, 62);
$vento-ottimo: #4ad568;
$vento-medio: #d5b24a;
$vento-buono: #4a99d5;
$vento-pessimo: #d5634a;
$title-wind-color: rgb(21, 47, 74);
