@import "../../../arrow";
@import "../../../colors";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.weatherCard {
  position: absolute;
  bottom: 30px;
  left: 10px;
  min-width: 300px;
  width: 25%;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 3px 6px rgba(0, 0, 0, 0.12);
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: $title-wind-color;
}

.arrow-container {
  width: 50px;
  margin-bottom: 30px;
  margin-right: 30px;
  img {
    width: 100%;
  }
}

